<header>
  <h1>Columbia Basin Water Information</h1>
  <nav ng-controller="NavCtrl">
    <ul>
      <li ng-repeat='category in categories.list | orderBy:"toString()"'><a href='#/{{category}}'>{{category | titleCase}}</a></li>
    </ul>
  </nav>
</header>

<div class="map">
  Map Area
  <div class="legend" ng-controller="LegendCtrl">
    <h3>Legend Div</h3>
    <ul>
      <li ng-repeat="layer in layers | orderBy:'name.toString()'">
        {{layer.name}}
      </li>
    </ul>
  </div>
</div>

<div class="info" ng-controller="InfoCtrl">
  <h3>Info Box</h3>
  {{selected.layerInfo}}
</div>

<footer>
  <span class='left'>SGRC 2014</span>
  <span class='right'>with support from the Columbia Basin Trust</span>
</footer>